/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
.clearfix {
  clear: both;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/* Hide submenu, leave this to kmom02 */
/* Hide responsive/mobile menu, leave this to kmom02 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.wrap-all {
  max-width: 1100px;
  margin: 0 auto;
}
.my-navbar {
  margin: 40px;
}
.my-navbar li {
  display: inline;
  margin-right: 20px;
}
.my-navbar li a {
  text-decoration: none;
  font-size: 25px;
}
.site-logo-text-icon {
  display: none;
}
.site-logo-text a {
  position: absolute;
  margin-top: 120px;
  font-size: 37px;
  text-decoration: none;
}
li a {
  text-decoration: none;
}
.byline {
  background-color: #f7f7f7;
  padding: 15px;
  width: 500px;
  box-shadow: 1px 1px 2px 1px;
}
.footer-column {
  width: 30%;
  padding: 13px;
  float: left;
  border: 1px solid #b9b9b9;
  margin: 4px;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1400px) {
  .my-navbar li a {
    font-size: 22px;
  }
  .site-logo-text a {
    font-size: 30px;
  }
}
@media screen and (max-width: 1250px) {
  .site-logo-text a {
    font-size: 25px;
  }
  .rm-desktop li {
    display: initial !important;
  }
  .rm-desktop li a {
    padding: 1px;
    font-size: 20px;
  }
  .rm-desktop li ul {
    background-color: pink;
    top: 0;
    border: #585858 solid 1px;
  }
  .rm-desktop li ul li a {
    background-color: pink !important;
    padding: 5px;
  }
  .region-header-col-2 {
    margin-left: 25%;
  }
  .inner-wrap-header {
    height: 420px;
  }
}
@media screen and (max-width: 680px) {
  .rm-max {
    display: initial;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
